# Project exclude paths
/.gradle/
/Cinema Room Manager (Console)/task/build/
/Cinema Room Manager (Console)/task/out/
/Cinema Room Manager (Console)/task/out/production/classes/
/Topics/Errors in programs/Fix the program/out/
/Topics/Errors in programs/Fix the program/out/production/classes/
/Topics/Floating-point types/Difference between two doubles/out/
/Topics/Floating-point types/Difference between two doubles/out/production/classes/
/Topics/Floating-point types/Distance/out/
/Topics/Floating-point types/Distance/out/production/classes/
/Topics/Floating-point types/Liquid pressure/out/
/Topics/Floating-point types/Liquid pressure/out/production/classes/
/Topics/Floating-point types/Uses the Double in the calculations/out/
/Topics/Floating-point types/Uses the Double in the calculations/out/production/classes/
/Topics/If expression/Positive, Negative or Zero/out/
/Topics/If expression/Positive, Negative or Zero/out/production/classes/
/Topics/Repeating blocks/Print a string exactly ten times/out/
/Topics/Repeating blocks/Print a string exactly ten times/out/production/classes/
/Topics/Taming exceptions/Handle arithmetic exception/out/
/Topics/Taming exceptions/Handle arithmetic exception/out/production/classes/
/Topics/Taming exceptions/Handle string exception/out/
/Topics/Taming exceptions/Handle string exception/out/production/classes/
/Topics/The try-catch statement/Braking distance/out/
/Topics/The try-catch statement/Braking distance/out/production/classes/
/Topics/The try-catch-finally statement/The Answer is/out/
/Topics/The try-catch-finally statement/The Answer is/out/production/classes/
/Topics/The try-catch-finally statement/The end/out/
/Topics/The try-catch-finally statement/The end/out/production/classes/
/Topics/What is an exception/Cause an exception/out/
/Topics/What is an exception/Cause an exception/out/production/classes/
/Topics/While loops/The length of the sequence/out/
/Topics/While loops/The length of the sequence/out/production/classes/